@charset "UTF-8";
/* font-family: 'Prata', serif; */
body,
html {
  background-color: #fff;
  font-size: 10px;
}
.section {
  position: relative;
}

/* header area */
#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: right;
}

#gnb {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  margin-right: 4rem;
}

#gnb li {
  position: relative;
  float: left;
  padding: 5rem 3rem;
  box-sizing: border-box;
}

#gnb li a {
  font-size: 1.8rem;
  color: #000;
  font-family: "Chonburi", cursive;
}

.gnb_btn_close {
  position: absolute;
  display: none;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  background: url("../img/close_btn.png") no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}

.gnb_btn {
  position: fixed;
  display: none;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  background: url("../img/menu.png") no-repeat center center;
  background-size: 100%;
  cursor: pointer;
  z-index: 5000;
}

#header.on {
  width: 40rem;
  height: 100%;
  right: -40rem;
  text-align: left;
  padding: 4rem 2rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  transition: right 0.5s;
}

#header.on #gnb {
  height: 100%;
  margin-right: 0;
}

#header.on #gnb li {
  float: none;
  width: 100%;
  padding: 3rem;
}

#header.on #gnb li a {
  color: #fff;
}

/* section area */

/* welcome area */
.title_box {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.title_box h1 {
  font-family: "Chonburi", cursive;
  font-size: 100px;
  text-align: center;
  color: #1e1c1d;
  margin-bottom: 10px;
}

.title_box h2 {
  font-size: 40px;
  text-align: center;
  color: #1e1c1d;
  font-weight: 500;
}

.title_box h2 .highlight {
  background: linear-gradient(to top, #f3d361 50%, transparent 40%);
}

.sub_title {
  font-family: "Chonburi", cursive;
  position: fixed;
  transform: rotate(90deg);
  top: 17%;
  left: -25px;
}

.sub_title span {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}

.scroll_down {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 2.5rem;
  border: 2px solid #000;
  border-radius: 0.6rem;
  z-index: 1;
}

.scroll_down span {
  position: absolute;
  top: -2rem;
  width: 6rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-left: -3.5rem;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.scroll_down .line {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  width: 0.3rem;
  height: 0.8rem;
  border-radius: 20%;
  background: #000;
  animation: lineAni 1s ease-out infinite;
}

@keyframes lineAni {
  0% {
    top: 0.4rem;
  }
  50% {
    top: 0.7rem;
  }
  100% {
    top: 0.4rem;
  }
}

/* work area */
.click_bg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2;
  z-index: 1;
}

.click_bg.on {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio_wrap {
  position: relative;
  width: 950px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio_wrap ul {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 30px;
}

.portfolio_wrap ul .site_box {
  position: relative;
  width: 100%;
  height: 320px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.portfolio_wrap ul .site_box:hover .site_img img {
  transform: scale(1.2);
}

.portfolio_wrap ul .site_box .site_img {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.portfolio_wrap ul .site_box .site_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.portfolio_wrap ul .site_box .site_img span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 1.8rem;
  line-height: 210px;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.portfolio_wrap ul .site_box:hover .site_img span {
  opacity: 1;
}

.portfolio_wrap ul .site_box .site_text {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.portfolio_wrap ul .site_box .site_text p {
  font-size: 1.4rem;
  text-align: center;
  color: #8c8c8c;
  line-height: 2.4rem;
}

.portfolio_wrap ul .site_box .site_text p strong {
  font-family: "Chonburi", cursive;
  display: block;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #222;
}

.work_wrap {
  display: none;
  position: absolute;
  width: 80%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 900;
}

.work_wrap.on {
  display: block;
}

.work_wrap > div {
  float: left;
}

.work_wrap .work_img {
  width: 65%;
  height: 100%;
}

.work_wrap .work_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work_wrap .work_text {
  position: relative;
  width: 35%;
  height: 100%;
  padding: 5rem;
  box-sizing: border-box;
}

.work_wrap .work_text .text_inner {
  position: absolute;
  bottom: 5rem;
}

.work_wrap .work_text .text_inner .sub_text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
}

.work_wrap .work_text .text_inner h3 {
  font-size: 5rem;
  margin-bottom: 3.5rem;
}

.work_wrap .work_text .text_inner p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  line-height: 2;
}

.work_wrap .primary_color {
  display: block;
  overflow: hidden;
  margin: 1.5rem 0 3rem;
}

.work_wrap .primary_color li {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: #000;
  margin-right: 1rem;
  float: left;
}

.work_wrap .close_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  background: url("../img/close_btn.png") no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}

.link_wrap {
  display: inline-block;
  margin: 1.5rem 0;
}

.link_wrap > div {
  float: left;
}

.link_wrap .view_btn a {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border: 1px solid #1e1c1d;
  color: #111;
}

.link_wrap .github {
  width: 4rem;
  margin-left: 1rem;
}

.link_wrap .github img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* skill area */
.intro_text {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 4rem;
  top: 20%;
  left: 10%;
}

.intro_text .ani_text {
  display: inline-block;
  color: #f4cf49;
  animation: textAni 0.6s infinite alternate;
}

@keyframes textAni {
  0% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}

.skillbox {
  position: relative;
  width: 100%;
  height: 100%;
}

.skillbox ul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
}

.skillbox ul li {
  text-align: center;
  margin-right: 5rem;
}

.skillbox ul li:last-of-type {
  margin-right: 0;
}

.skillbox ul li .level {
  width: 18rem;
  height: 18rem;
  font-size: 1.8rem;
  border: 2px solid orange;
  border-radius: 100%;
  line-height: 18rem;
  overflow: hidden;
  background: url("../img/wave.png") no-repeat;
  animation: wave 2000ms infinite linear;
}

@keyframes wave {
  from {
  }
}

.skillbox ul li .skill_txt {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2rem;
}

/* contect area */

.contact_box {
  position: relative;
  top: 20%;
  left: 10%;
}

.contact_box h2 {
  font-size: 40px;
  text-align: left;
  color: #1e1c1d;
  font-weight: 500;
}

.contact_box h2 .highlight {
  background: linear-gradient(to top, #f3d361 50%, transparent 40%);
}

@media screen and (max-width: 990px) {
  .gnb_btn {
    display: block;
  }
}
