@charset "UTF-8";
body,
html {
  background-color: #fff;
}
.section {
  position: relative;
}

h1,
h2 {
  font-family: "Chonburi", cursive;
}

/* load animation */
.load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  pointer-events: none;
}

.load .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: load 1s ease-in-out forwards;
}

.load .box:nth-child(1) {
  background: #000;
  z-index: 2;
}

.load .box:nth-child(2) {
  background: #f3d361;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes load {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

/* header area */
#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: right;
}

#gnb {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  margin-right: 40px;
}

#gnb li {
  position: relative;
  float: left;
  padding: 50px 30px;
  box-sizing: border-box;
}

#gnb li::after {
  content: "";
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #f3d361;
  opacity: 0.5;
}

#gnb li.on::after {
  display: block;
}

#gnb li a {
  font-size: 18px;
  color: #000;
  font-family: "Chonburi", cursive;
}

.gnb_btn_close {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: url("../img/close_btn.png") no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}

.gnb_btn {
  position: fixed;
  display: none;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: url("../img/menu.png") no-repeat center center;
  background-size: 100%;
  cursor: pointer;
  z-index: 5000;
}

#header.on {
  width: 400px;
  height: 100%;
  right: -400px;
  text-align: left;
  padding: 40px 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  transition: right 0.5s;
}

#header.on #gnb {
  height: 100%;
  margin-right: 0;
}

#header.on #gnb li {
  float: none;
  width: 100%;
  padding: 30px;
}

#header.on #gnb li a {
  color: #fff;
}

/* section area */

/* welcome area */
.title_box {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.title_box h1 {
  position: relative;
  font-size: 100px;
  text-align: center;
  color: #1e1c1d;
  margin-bottom: 10px;
}

.title_box h3 {
  font-size: 40px;
  text-align: center;
  color: #1e1c1d;
  font-weight: 500;
}

.title_box h3 .highlight {
  background: linear-gradient(to top, #f3d361 50%, transparent 40%);
}

.sub_title {
  font-family: "Chonburi", cursive;
  position: fixed;
  transform: rotate(90deg);
  top: 17%;
  left: -25px;
}

.sub_title span {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}

.scroll_down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 6px;
  z-index: 1;
}

.scroll_down span {
  position: absolute;
  top: -20px;
  width: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-left: -35px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.scroll_down .line {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 3px;
  height: 8px;
  border-radius: 20%;
  background: #000;
  animation: lineAni 1s ease-out infinite;
}

@keyframes lineAni {
  0% {
    top: 4px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 4px;
  }
}

/* work area */
.click_bg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2;
  z-index: 1;
}

.click_bg.on {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio_wrap {
  position: relative;
  width: 950px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio_wrap ul {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.portfolio_wrap ul .site_box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.portfolio_wrap ul .site_box:hover .site_img img {
  transform: scale(1.2);
}

.portfolio_wrap ul .site_box .site_img {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.portfolio_wrap ul .site_box .site_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.portfolio_wrap ul .site_box .site_img span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 18px;
  line-height: 210px;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.portfolio_wrap ul .site_box:hover .site_img span {
  opacity: 1;
}

.portfolio_wrap ul .site_box .site_text {
  width: 100%;
  padding: 20px;
  height: 40%;
  box-sizing: border-box;
}

.portfolio_wrap ul .site_box .site_text p {
  font-size: 14px;
  text-align: center;
  color: #8c8c8c;
  line-height: 14px;
}

.portfolio_wrap ul .site_box .site_text p strong {
  font-family: "Chonburi", cursive;
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #222;
}

.work_wrap {
  display: none;
  position: absolute;
  width: 80%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 900;
}

.work_wrap.on {
  display: block;
}

.work_wrap > div {
  float: left;
}

.work_wrap .work_img {
  width: 65%;
  height: 100%;
}

.work_wrap .work_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work_wrap .work_text {
  position: relative;
  width: 35%;
  height: 100%;
}

.work_wrap .work_text .text_inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 50px;
  box-sizing: border-box;
}

.work_wrap .work_text .text_inner .sub_text {
  font-size: 18px;
}

.work_wrap .work_text .text_inner h3 {
  font-family: "Chonburi", cursive;
  font-size: 40px;
  margin-bottom: 35px;
}

.work_wrap .work_text .text_inner p {
  font-size: 18px;
  line-height: 2;
}

.work_wrap .primary_color {
  display: block;
  overflow: hidden;
  margin: 15px 0 30px;
}

.work_wrap .primary_color li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #000;
  margin-right: 10px;
  float: left;
}

.work_wrap .close_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: url("../img/close_btn.png") no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}

.link_wrap {
  display: inline-block;
  margin: 15px 0;
}

.link_wrap > div {
  float: left;
}

.link_wrap .view_btn a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #1e1c1d;
  color: #111;
}

.link_wrap .view_btn a:hover {
  background: #1e1c1d;
  color: #fff;
}

.link_wrap .github {
  width: 40px;
  margin-left: 10px;
}

.link_wrap .github img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* skill area */
.intro_text {
  position: relative;
  float: left;
  display: inline-block;
  font-size: 40px;
  top: 20%;
  left: 10%;
}

.ani_text {
  display: inline-block;
  color: #f4cf49;
  animation: textAni 0.6s infinite alternate;
}

@keyframes textAni {
  0% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}

.ani_text_2 {
  display: inline-block;
  animation: textAni2 0.4s infinite alternate;
}

@keyframes textAni2 {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

.skill_wrap {
  position: relative;
  width: 810px;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  top: 25%;
  right: 10%;
}

.skill_wrap > ul {
  margin-bottom: 100px;
}

.skill_wrap > ul > li {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  margin-bottom: 20px;
}

.skill_wrap > ul > li > div {
  display: inline-block;
  float: left;
  font-size: 21px;
  line-height: 29px;
  margin-left: 20px;
}

.skill_wrap > ul > li > div.date {
  position: relative;
  margin-left: 0;
  min-width: 170px;
  color: #717171;
}

.skill_wrap > ul > li .text span {
  display: block;
  font-size: 18px;
  color: #8c8c8c;
}

.skillbox ul {
  display: flex;
  justify-content: space-around;
}

.skillbox ul li {
  text-align: center;
}

.skillbox ul li:last-of-type {
  margin-right: 0;
}

.skillbox ul li .level {
  position: relative;
  width: 140px;
  height: 140px;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 100%;
  line-height: 120px;
  margin: 0 auto;
  overflow: hidden;
  isolation: isolate;
}

.skillbox ul li .level .wave {
  position: absolute;
  background: #0af;
  width: 200px;
  height: 200px;
  right: -30px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  opacity: 0.4;
  animation: wave 3000ms infinite linear;
}

.skillbox ul li .level .wave:nth-of-type(2) {
  animation: wave 5000ms infinite linear;
}

.skillbox ul li .level .wave:nth-of-type(3) {
  animation: wave 7000ms infinite linear;
  background: yellow;
  opacity: 0.1;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.skillbox ul li:nth-of-type(1) .level .wave {
  bottom: -55%;
}

.skillbox ul li:nth-of-type(2) .level .wave {
  bottom: -65%;
}

.skillbox ul li:nth-of-type(3) .level .wave {
  bottom: -85%;
}

.skillbox ul li:nth-of-type(4) .level .wave {
  bottom: -75%;
}

.skillbox ul li .skill_txt {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
}

/* contect area */

.contact_box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact_box h2 {
  font-size: 50px;
  color: #1e1c1d;
  font-weight: 500;
}

.contact_box h2 .highlight {
  background: linear-gradient(to top, #f3d361 50%, transparent 40%);
}

.contact_box .sub_text {
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-top: 10px;
}

.contact_box .contact {
  margin-top: 30px;
}

.contact_box .contact p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}

/* 반응형 */

@media screen and (max-width: 1300px) {
  .work_wrap {
    width: 65%;
    height: 80%;
    border-radius: 5%;
  }

  .work_wrap .work_img {
    width: 100%;
    height: 60%;
  }

  .work_wrap .work_img img {
    border-radius: 5% 5% 0 0;
  }

  .work_wrap .work_text {
    width: 100%;
    height: 40%;
  }

  .work_wrap .work_text .text_inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .work_wrap .primary_color {
    margin: 15px 0 0;
  }

  .link_wrap .view_btn a {
    font-size: 10px;
  }

  .link_wrap .github {
    width: 30px;
  }

  .work_wrap .close_btn {
    top: 60%;
  }

  .intro_text {
    float: none;
    display: block;
  }

  .skill_wrap {
    float: none;
    left: 10%;
    right: auto;
  }
  .skill_wrap > ul {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .portfolio_wrap {
    width: auto;
  }
  .portfolio_wrap ul {
    width: 700px;
    grid-gap: 10px;
  }

  .portfolio_wrap ul .site_box .site_text p strong {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 990px) {
  .gnb_btn {
    display: block;
  }
  .title_box h1 {
    font-size: 65px;
  }
  .title_box h3 {
    font-size: 24px;
  }

  .work_wrap {
    width: 75%;
    height: 65%;
  }

  .intro_text {
    left: auto;
    text-align: center;
  }
  .skill_wrap {
    left: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 860px) {
  .work_wrap .work_text .text_inner .sub_text {
    font-size: 14px;
  }

  .work_wrap .work_text .text_inner h3 {
    font-size: 28px;
  }

  .work_wrap .work_text .text_inner p {
    font-size: 14px;
  }

  .work_wrap .primary_color li {
    width: 16px;
    height: 16px;
  }

  .portfolio_wrap ul {
    width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  .skill_wrap {
    width: 685px;
  }
  .skill_wrap > ul > li > div {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 685px) {
  .gnb_btn {
    background-size: 80%;
  }

  .title_box h1 {
    font-size: 45px;
  }

  .work_wrap {
    width: 90%;
  }

  .portfolio_wrap ul {
    width: 400px;
  }

  .skill_wrap {
    width: 520px;
  }

  .intro_text {
    font-size: 30px;
  }
  .skillbox ul li .level {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  .skillbox ul li .level .wave {
    width: 145px;
    height: 145px;
  }

  .skill_wrap > ul > li > div.date {
    font-size: 14px;
    min-width: 100px;
  }
}

@media screen and (max-width: 520px) {
  .fp-auto-height {
    height: auto !important;
  }

  .fp-auto-height .fp-tableCell {
    height: auto !important;
  }

  .gnb_btn {
    background-size: 60%;
    right: 5px;
  }

  .title_box h1 {
    font-size: 34px;
  }

  .title_box h3 {
    font-size: 21px;
  }

  .sub_title {
    left: -40px;
  }

  .sub_title span {
    font-size: 18px;
  }

  .work_wrap {
    width: 90%;
    height: 40%;
  }

  .work_wrap .work_text .text_inner {
    padding: 25px;
  }

  .work_wrap .work_img {
    height: 45%;
  }

  .work_wrap .close_btn {
    top: 45%;
  }

  .work_wrap .work_text {
    height: 55%;
  }

  .work_wrap .work_text .text_inner {
    flex-wrap: wrap;
    padding: 16px 25px;
  }

  .work_wrap .work_text .text_inner .sub_text {
    display: none;
  }

  .work_wrap .work_text .text_inner h3 {
    margin-bottom: 0;
  }

  .work_wrap .work_text .text_inner > div {
    flex: 100%;
  }

  .portfolio_wrap {
    margin-top: 50px;
    transform: translate(0);
  }

  .portfolio_wrap ul {
    width: 250px;
    grid-template-columns: repeat(1, 1fr);
  }

  .skill_wrap {
    width: 400px;
  }

  .skill_wrap > ul > li > div {
    font-size: 14px;
    line-height: 21px;
  }

  .skill_wrap > ul > li .text span {
    font-size: 12px;
  }

  .skill_wrap > ul > li > div.date {
    min-width: 80px;
  }

  .skillbox ul li .skill_txt {
    font-size: 18px;
  }

  .skillbox ul {
    flex-wrap: wrap;
  }

  .skillbox ul li {
    flex: 50%;
    margin-bottom: 10px;
  }

  .contact_box h2 {
    font-size: 34px;
  }

  .contact_box .sub_text {
    font-size: 18px;
  }

  .contact_box .contact p {
    font-size: 18px;
  }
}

@media screen and (max-width: 413px) {
  .title_box h3 {
    font-size: 18px;
  }

  .title_box h1 {
    font-size: 32px;
  }

  .portfolio_wrap ul {
    width: 200px;
  }

  .intro_text {
    font-size: 26px;
  }

  .skill_wrap {
    width: 320px;
  }
  .skillbox ul li .skill_txt {
    font-size: 16px;
  }

  .skillbox ul li .level {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .skillbox ul li .level .wave {
    width: 130px;
    height: 110px;
  }
}
